
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kalam:wght@300;400;700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// <----Media Size Leptop--->
@media (min-width:1024px) {
    .home-container{
        background: #ECB176;
        // background-image: url("./image/homebg\ .jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    .home-content{ 
        padding-left: 15%;
        margin-top: 5%;
    
    h1{
        font-size: 10rem;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;     
        font-weight: bolder;
    }
    span{
        font-size: 2rem;
        margin-left:16%;
    }
    h3{
        color: #444;
        font-size: 1.8rem;
    }
    p{
        font-size: 1.3rem;
        font-family: "Kalam", cursive;
        font-weight: lighter;
        }
     

    
}
.homeimg{
  
    img{
        margin-top: 15%;
        width: 100%;
        height: 70%;
        // padding-right: 25px;
    
    }
}
  
}

// <----Media Size Mobile--->
@media (min-width:320px) and (max-width:426px) {
    .home-container{
        background: #ECB176;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    .home-content{ 
        padding-left: 10%;
        margin-top: 4%;
    
    h1{
        font-size: 5rem;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;        font-weight: bolder;
    }
    span{
        font-size: 1rem;
        margin-left:16%;
    }
    h3{
        color: #444;
        font-size: 1.1rem;
    }
    p{
        font-size: 0.6rem;
        font-family: "IBM Plex Mono", monospace; 
        font-weight: 400;  

     }
     

    
}
.homeimg{
  
    img{
        max-width: 100%;
        padding-right: 25px;
    
    }
}
  
}

// <----Media Size Tablet--->
@media (min-width:426px) and (max-width:769px) {
    .home-container{
        background: #ECB176;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    .home-content{ 
        padding-left: 11%;
        // margin-top: 2%;
    
    h1{
        font-size: 5rem;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;        font-weight: bolder;
    }
    span{
        font-size: 1.1rem;
        margin-left:16%;
    }
    h3{
        color: #444;
        font-size: 1.2rem;
    }
    p{
        font-size: 0.6rem;
        font-family: "Kalam", cursive;
        font-weight: lighter;
        }
     

    
}
.homeimg{
  
    img{
        max-width: 100%;
        padding-right: 25px;
    
    }
}
  
}

